.first-section {
   display: grid;
   grid-template-areas:
      'title title'
      'first-content image'
      'first-content image';
   margin-top: 100px;
   margin-bottom: 200px;
   padding: 0 0 0 10%;
}

.responsive {
   display: none;
}

.first-section > .title {
   grid-area: title;
   text-align: center;
}

.first-section .title {
   font-weight: 600;
   color: var(--body-gradient-desaturated-blue);
   font-size: 2rem;
   padding-right: 10%;
}

.first-section .article-design {
   grid-area: image;
   width: 100%;
   overflow: hidden;
   display: grid;
}

.article-design .container-img {
   width: 130%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-img img {
   width: 130%;
}

.first-section .article-introducing {
   grid-area: first-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 100px;
}

.first-section .article-introducing {
   width: 80%;
}

.first-section .first-article,
.first-section .second-article {
   color: var(--body-color);
   line-height: 38px;
   font-size: 1.1rem;
}
