.first-section {
   display: grid;
   grid-template-areas:
      'title title'
      'first-content image'
      'second-content image';
   margin-top: 200px;
   margin-bottom: 200px;
   padding: 0 0 0 10%;
}

.container-first-section {
   overflow: hidden;
   height: 1200px;
}

.responsive {
   display: none;
}

.first-section > .title {
   grid-area: title;
   text-align: center;
}

.first-section .title {
   font-weight: 600;
   color: var(--body-gradient-desaturated-blue);
   font-size: 2rem;
   padding-right: 10%;
}

.first-section .article-design {
   grid-area: image;
   width: 100%;
   height: 200%;
}

.article-design .container-img {
   background-color: red;
   width: 700px;
   position: relative;
}

.container-img img {
   width: 140%;
   position: absolute;
   top: -200px;
   left: -20px;
}

.first-section .article-introducing {
   grid-area: first-content;
   margin-top: 60px;
}

.first-section .article-editor {
   grid-area: second-content;
}

.first-section .article-introducing,
.first-section .article-editor {
   width: 80%;
}

.first-section > article > p {
   color: var(--body-color);
   line-height: 32px;
   font-size: 1.1rem;
}
