.first-section {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 10%;
}

.first-section > div {
   width: 100%;
   margin-right: 10%;
   position: relative;
}

.first-section > div > .title {
   width: 100%;
   /* width: 100%; */
   text-align: center;
   /* margin-right: 10%; */
   font-family: 'Overpass', sans-serif;
   font-size: 3rem;
   color: var(--color-text-title);
   position: absolute;
   /* gap: 3%; */
}

.first-section .article-design {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.article-design img {
   width: 100%;
}

.first-section .article-introducing {
   width: 43%;
   margin-right: 7%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.article-introducing .title {
   font-family: 'Overpass', sans-serif;
   font-size: 2rem;
   color: var(--color-text-title);
}

.first-section .first-article,
.first-section .second-article {
   color: var(--body-color);
   line-height: 38px;
   font-size: 1.1rem;
   font-family: 'Overpass', sans-serif;
}

/* .first-section {
   display: grid;
   grid-template-areas:
      'title title'
      'first-content image'
      'first-content image';
   margin-top: 100px;
   margin-bottom: 200px;
   padding: 0 0 0 10%;
}

.responsive {
   display: none;
}

.first-section > .title {
   grid-area: title;
   text-align: center;
}

.first-section .title {
   font-weight: 600;
   color: var(--body-gradient-desaturated-blue);
   font-size: 2rem;
   padding-right: 10%;
}

.article-design .container-img {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-img img {
   width: 100%;
}

.first-section .article-introducing {
   grid-area: first-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 100px;
}

.first-section .article-introducing {
   width: 80%;
}

.first-section .first-article,
.first-section .second-article {
   color: var(--body-color);
   line-height: 38px;
   font-size: 1.1rem;
} */
