.footer {
   background-color: var(--body-gradient-blue);
   border-top-right-radius: 100px;
   padding-top: 80px;
   padding-bottom: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer .footer-logo {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.footer-logo img {
   width: 25%;
}

.footer > article {
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding-bottom: 30px;
}

.footer h4 {
   text-align: center;
   color: var(--white-text);
   font-size: 1.1rem;
}

.footer a {
   text-decoration: none;
   color: var(--footer-text-color);
   text-align: center;
   font-size: 1.1rem;
}
