.footer {
   margin-top: 100px;
   background-color: var(--body-gradient-blue);
   border-top-right-radius: 120px;
   padding-top: 80px;
   padding-bottom: 60px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 10%;
}

.footer .footer-logo {
   width: 10%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
}

.footer-logo img {
   min-width: 90px;
}

.footer .links-footer {
   width: 70%;
   display: flex;
}

.links-footer div {
   width: 33%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.links-footer .title {
   color: var(--white-text);
   margin: 0 0 20px 0;
   font-family: 'Ubuntu', sans-serif;
}

.links-footer a {
   text-decoration: none;
   color: var(--footer-text-color);
   font-family: 'Ubuntu', sans-serif;
}

@media (hover: hover) {
   .links-footer a:hover {
      text-decoration: underline;
   }
}
