.second-section {
   background-color: var(--body-gradient-blue);
   background-image: url('../static/img/bg-pattern-circles.svg');
   background-position: -24% 90%;
   background-repeat: no-repeat;
   width: 100%;
   border-top-right-radius: 120px;
   border-bottom-left-radius: 120px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.second-section .cellphones {
   width: 100%;
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cellphones img {
   width: 50%;
   transform: scale(1.4, 1.4);
}

.second-section .article-second-section {
   width: 100%;
}

.article-second-section .container-text {
   width: 100%;
   padding-right: 30%;
   padding: 10% 30% 10% 0;
}

.container-text .title {
   font-weight: 600;
   color: var(--white-text);
   font-size: 3rem;
   font-family: 'Overpass', sans-serif;
}

.container-text .text {
   color: var(--text-color-second-section);
   line-height: 32px;
   font-size: 1.1rem;
   font-family: 'Overpass', sans-serif;
}

@media screen and (max-width: 1240px) {
   .second-section {
      background-position: -80% 90%;
   }

   .cellphones img {
      transform: scale(1.8, 1.8);
   }
}

@media screen and (max-width: 1080px) {
   .second-section {
      background-position: -200px 90%;
   }

   .cellphones img {
      transform: scale(2, 2);
   }
}

@media screen and (max-width: 900px) {
   .second-section {
      flex-direction: column;
      background-position: center bottom;
      padding-bottom: 50px;
      align-items: center;
      justify-self: center;
      margin-top: 100px;
   }

   .second-section .cellphones {
      position: relative;
      width: 100%;
      height: 190px;
   }

   .cellphones img {
      position: absolute;
      top: -40px;
   }

   .second-section .article-second-section {
      width: 100%;
   }

   .article-second-section .container-text {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 60px 5% 10%;
   }

   .container-text .title {
      font-weight: 300;
      line-height: 50px;
      font-size: 2.5rem;
   }

   .container-text .text {
      font-weight: 300;
      font-size: 1.1rem;
   }
}
