.second-section {
   background-color: var(--body-gradient-blue);
   background-image: url('../static/img/bg-pattern-circles.svg');
   background-position: -25% 80%;
   background-repeat: no-repeat;
   width: 100%;
   border-top-right-radius: 120px;
   border-bottom-left-radius: 120px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.second-section .cellphones {
   width: 100%;
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cellphones img {
   width: 50%;
   transform: scale(1.4, 1.4);
}

.second-section .article-second-section {
   width: 100%;
}

.article-second-section .container-text {
   width: 100%;
   padding-right: 30%;
   padding: 10% 30% 10% 0;
}

.container-text .title {
   font-weight: 600;
   color: var(--white-text);
   font-size: 2rem;
}

.container-text .text {
   color: var(--white-text);
   line-height: 32px;
   font-size: 1.1rem;
}
