.third-section {
   margin-top: 100px;
   display: flex;
   flex-direction: row;
}

.third-section .header-computer {
   width: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-computer img {
   width: 100%;
}

.third-section .articles {
   width: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.articles .title {
   font-weight: 600;
   color: var(--body-gradient-desaturated-blue);
   font-size: 2rem;
   padding-right: 10%;
}

.articles .text {
   color: var(--body-color);
   font-family: 'Overpass', sans-serif;
   line-height: 38px;
   font-size: 1.1rem;
}
