<div class="link-github">
    <a href="https://github.com/Renato6GS/card-component" aria-label="Linkt to the repository">
        <img class="github-logo" src="./static/img/icon-github.svg" alt="Repository">
    </a>
</div>