<header class='header'>

   {{! Hay un pequeño tema aquí,
   y es que esta imagen se posiciona por encima del
   contenido }}
   <figure class='background-img'>
      <img src='./static/img/bg-pattern-intro-mobile.svg' class='header-img' alt='Background' />
      <div class='background-fade'></div>
   </figure>

   <div class='images'>
      <figure class='logo'>
         <img src='./static/img/logo.svg' alt='Blogr' />
      </figure>
      <figure class='menu-bar'>
         <img src='./static/img/icon-hamburger.svg' alt='Menu' />
      </figure>
   </div>

   <div class='titles'>
      <h2 class='title'>A modern publishing platform</h2>
      <h3 class='sub-title'>Grow your audience and build your online brand</h3>
      <div class='buttons'>
         <button class='btn-start'>Start for Free</button>
         <button class='btn-learn'>Learn More</button>
      </div>
   </div>
</header>