<section class='second-section'>
   <div class='circles'>
      <img src='./static/img/bg-pattern-circles.svg' alt='pattern circles' />
   </div>

   <header class='cellphones'>
      <img src='./static/img/illustration-phones.svg' alt='pattern circles' />
   </header>

   <article>
      <h3 class='title'>State of the Art Infrastructure</h3>
      <p>
         With reliability and speed in mind, worldwide data centers provide the backbone for ultra-fast connectivity.
         This ensures your site will load instantly, no matter where your readers are, keeping your site competitive
      </p>
   </article>
</section>