<section class='second-section'>
   <header class='cellphones'>
      <img src='./static/img/illustration-phones.svg' alt='pattern circles' loading="lazy" />
   </header>

   <article class='article-second-section'>
      <div class='container-text'>
         <h3 class='title'>State of the Art Infrastructure</h3>
         <p class='text'>
            With reliability and speed in mind, worldwide data centers provide the backbone for ultra-fast connectivity.
            This ensures your site will load instantly, no matter where your readers are, keeping your site competitive.
         </p>
      </div>
   </article>

</section>