<section class='third-section'>
   <header class='header-computer'>
      <img src='./static/img/illustration-laptop-mobile.svg' alt='laptop' />
   </header>

   <article class='first-article'>
      <h3 class='title'>Free, open, simple</h3>
      <p class='content'>
         Blogr is a free and open-source application backed by a large community of helpful developers. It supports
         features such as code syntax highlighting, RSS feeds, social media integrations, third-party commenting tools,
         and works seamlessly with Google Analytics. The architecture is clean and is relatively easy to learn.
      </p>
   </article>

   <article class='second-article'>
      <h3 class='title'>Powerful tooling</h3>
      <p class='content'>
         Batteries included. We built a simple and straightforward CLI tool that makes customization and deployment a
         breeze, but capable of producing even the most complicated sites.
      </p>
   </article>
</section>